<div [@routerTransition]>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div type="button" class="col-2 card-box .bg-light" [ngStyle]="{'background-clip': 'content-box'}">
                    all
                </div>
                <div *ngFor="let status of statusInfo | keyvalue" type="button"
                    class="col-2 card-box {{status.value.bgColor}}" [ngStyle]="{'background-clip': 'content-box'}">
                    {{status.key}}
                </div>
            </div>
            <hr />
            <div class="row">
                <app-order-card *ngFor="let orderData of ordersDataToShow;" [orderData]="orderData"
                    class="col-lg-3 col-md-4 col-6 small-card">
                </app-order-card>
            </div>
            <!-- </div> -->
        </div>
    </section>

</div>